[Unit]
Description=clippy
After=network.target

[Service]
ExecStart=/usr/local/bin/clippy
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
