[Desktop Entry]
Name=Clippy
Comment=A simple clipboard manager with a clean anime-style icon
Exec=clippy
Icon=clippy
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
StartupWMClass=org.dhanu.clippy