<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="clippyARM64">
			<Component Directory="INSTALLFOLDERARM64" Guid="92fb25fc-5801-45ba-907b-92bdb5f1ce9a">
				<File Source="../target/aarch64-pc-windows-msvc/release/clippy.exe" />
				<File Source="../target/aarch64-pc-windows-msvc/release/clippy-gui.exe" />
			</Component>
			<Component Directory="ApplicationProgramsFolder" Guid="0d4a6930-7838-4c32-845a-442f040dd729">
				<Shortcut Id="ApplicationDesktopShortcut"
					Name="clippy"
					Description="Clipboard manager"
					Target="[INSTALLFOLDERARM64]clippy.exe"
					WorkingDirectory="INSTALLFOLDERARM64"
					Icon="ClippyIconId"
                    IconIndex="0"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue
					Root="HKCU"
					Key="Software\clippy\clippy"
					Name="installed"
					Type="integer"
					Value="1"
					KeyPath="yes"/>
			</Component>
                  <Component Directory="AppStartupFolder" Guid="84fa0e93-cf31-4ae7-b007-9f8b25730506">
                        <Shortcut Id="StartupShortcut"
                              Directory="StartupFolder"
                              Name="Clippy"
                              Target="[INSTALLFOLDERARM64]clippy.exe"
                              WorkingDirectory="INSTALLFOLDERARM64"
                              Description="Start Clippy on login"/>
                  <RemoveFolder Id="AppStartupFolder" On="uninstall"/>
                        <RegistryValue
					Root="HKCU"
					Key="Software\clippy\clippy"
					Name="installed"
					Type="integer"
					Value="1"
					KeyPath="yes"/>
            </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
