name: Clippy-server image build

on:
  push:
    branches: ["main"]  
  workflow_dispatch:

permissions:
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get Version from Cargo.toml
        id: get_version
        run: |
          tomlPath="clippy-server/Cargo.toml"
          versionLine=$(grep '^version\s*=' $tomlPath)
          version=$(echo $versionLine | cut -d'"' -f2)
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Set image tag
        id: tag
        run: |
          echo "image_tag=${{ steps.get_version.outputs.version }}" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/clippy-server:${{ steps.tag.outputs.image_tag }}
